* {
    font-family: 'Montserrat', sans-serif;
}
@mixin flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    @include flexRow();
    position: fixed;
    
    width: 100%;
    height: 60px;

    background-color: #f2f2f2;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .25);
}
.main {
    height: 80vh;

    @include flexRow();
}
.main__content {
    @include flexColumn();
    align-items: flex-start;
}